<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>Whip validator report</title>
    </head>

  <body>
    <header></header>
    <main>
        <div class="container">

        <h1>Whip validator report</h1>

        <p>Date: {{ report.executed_at }}</p>

            <div class="row">
                <h2>Summary</h2>

                <p>Total rows: {{ report.results.total_rows }}</p>
                <div class="col-md-10 col-md-offset-1">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="summary-warnings">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#generalwarnings" aria-expanded="true" aria-controls="missing-data">
                          General warnings:
                        </button>
                      </h5>
                    </div>
                    <div id="generalwarnings" class="collapse" aria-labelledby="generalWarnings" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.warnings|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="summary-unkown">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#missingData" aria-expanded="true" aria-controls="missing-data">
                          Unknown fields:
                        </button>
                      </h5>
                    </div>
                    <div id="missingData" class="collapse" aria-labelledby="summary-unkown" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.unknown_fields|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="summary-unspecified">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#missingSpecs" aria-expanded="false" aria-controls="collapseTwo">
                          Unspecified fields:
                        </button>
                      </h5>
                    </div>
                    <div id="missingSpecs" class="collapse" aria-labelledby="summary-unspecified" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.unspecified_fields|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <h2>Specifications</h2>
                <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Field</th>
                          <th scope="col">Specification</th>
                          <th scope="col">Constraint</th>
                          <th scope="col">Passed records</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for field, rules in report.results.specified_fields.items()|sort %}
                            {% for rule, info in rules.items() %}
                        <tr>
                           <td>{{ field }}</td>
                           <td>{{ rule }}</td>
                           <td>{{ info.constraint }}</td>
                           <td>
                               <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ 100*info.passed_rows/report.results.total_rows }}%;" aria-valuenow={{ 100*info.passed_rows/report.results.total_rows }} aria-valuemin="0" aria-valuemax="100">{{ info.passed_rows }}</div>
                               </div>
                           </td>
                        </tr>
                            {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                </div>
            </div>


        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
