<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://dev.tdwg.org/theme/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

        <title>Whip validator report</title>
    </head>

  <body>
    <header></header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9 order-md-1">
            <h1>Whip validator report</h1>
                <p>Date: {{ report.executed_at }}</p>

            <h2>Summary</h2>
                <p>Total rows: {{ report.results.total_rows }}</p>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="summary-warnings">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#generalwarnings" aria-expanded="true" aria-controls="missing-data">
                          General warnings:
                        </button>
                      </h5>
                    </div>
                    <div id="generalwarnings" class="collapse" aria-labelledby="generalWarnings" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.warnings|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="summary-unkown">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#missingData" aria-expanded="true" aria-controls="missing-data">
                          Unknown fields:
                        </button>
                      </h5>
                    </div>
                    <div id="missingData" class="collapse" aria-labelledby="summary-unkown" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.unknown_fields|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="summary-unspecified">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#missingSpecs" aria-expanded="false" aria-controls="collapseTwo">
                          Unspecified fields:
                        </button>
                      </h5>
                    </div>
                    <div id="missingSpecs" class="collapse" aria-labelledby="summary-unspecified" data-parent="#accordion">
                      <div class="card-body">
                          <ul class="list-group">
                              {% for field in report.results.unspecified_fields|sort %}
                                <li class="list-group-item">{{ field }}</li>
                              {% endfor %}
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>

            <h2>Specifications</h2>
            <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Field</th>
                      <th scope="col">Specification</th>
                      <th scope="col">Constraint</th>
                      <th scope="col">Passed records</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for field, rules in report.results.specified_fields.items()|sort %}
                        <tbody class="fields">
                            <tr class="table-secondary">
                                <td colspan="5">
                                    {{ field }}
                                </td>
                            </tr>
                        </tbody>

                        {% for rule, info in rules.items()|sort %}
                        <tbody class="rules">
                            <tr data-toggle="collapse" data-target="#{{ field }}_{{ rule }}_examples" class="accordion-toggle">
                               <td width="15%"></td>
                               <td>{{ rule }}</td>
                               <td>{{ info.constraint }}</td>
                               <td>
                                   <div class="progress">
                                       {% if  not info.failed_rows %}
                                       <div class="progress-bar bg-success" role="progressbar" style="width: {{ 100*info.passed_rows/report.results.total_rows }}%;" aria-valuenow="{{ 100*info.passed_rows/report.results.total_rows }}" aria-valuemin="0" aria-valuemax="100">{{ info.passed_rows }}</div>
                                       {% else %}
                                       <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 100*info.passed_rows/report.results.total_rows }}%;" aria-valuenow="{{ 100*info.passed_rows/report.results.total_rows }}" aria-valuemin="0" aria-valuemax="100">{{ info.passed_rows }}</div>
                                       {% endif %}
                                   </div>
                               </td>
                               <td>
                                   {% if info.failed_rows %}
                                    <i class="fas fa-chevron-down"></i>
                                   {% endif %}
                               </td>
                            </tr>
                            {% if info.failed_rows %}
                            <tr>
                                <td colspan="4" class="hiddenRow">
                                    <div class="accordian-body collapse" id="{{ field }}_{{ rule }}_examples">
                                    <p>Value issue samples:</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                              <th scope="col"></th>
                                              <th scope="col">Data value</th>
                                              <th scope="col">Message</th>
                                              <th scope="col"># Rows failed</th>
                                              <th scope="col">First presence row index</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for value, details in info.samples.items()|sort %}
                                            <tr>
                                               <td>{{loop.index}}</td>
                                               <td>{{ value  }}</td>
                                               <td>{{ details.message}}</td>
                                               <td>{{ details.failed_rows}}</td>
                                               <td>{{ details.first_row}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
               	                    </table>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                        {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
        </div>
    </main>
        <script src="https://www.tdwg.org/theme/js/jquery.min.js"></script>
        <script src="https://www.tdwg.org/theme/js/popper.min.js"></script>
        <script src="https://www.tdwg.org/theme/js/bootstrap.min.js"></script>
  </body>
</html>
